$primary: #edbe65;
$black: #1b1d1c;
$blue: #364de7;
$gray: #5a6171;
$beige: #fff2e0;
$wh-gray: rgba(26, 26, 71, 0.05);
$red: #ea182c;
$pink: rgba(255, 46, 90, 1);

$grandient: linear-gradient(68.63deg, #71c3fe -5.6%, #9780fd 92.8%),
	linear-gradient(0deg, #ffffff, #ffffff);
$dark-purple: #1a1a47;
